django>=5.1.0
djangorestframework
django-cors-headers
django-filter
python-dotenv
google-api-python-client
isodate
bleach
sumy
nltk
requests

# Production-ready tools for AWS
gunicorn
psycopg2-binary
whitenoise
django-storages
boto3
